{# templates/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}

{% block body %}

    <div>
        Pls click on link for go to reset password
    </div>
    <a href="http://quizzes.loc/app_dev.php/reset_password?token={{ token }}">LINK</a>

{% endblock body %}