{# templates/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}

{% extends 'template.html.twig' %}

{% block body %}

    <div>Registration completed</div>

{% endblock body %}